.editContainer {
  display: flex;
  flex-direction: column;
  padding: 24px;
  width: 360px;
}

.comment {
  display: flex;
  margin-bottom: 24px;
  font-size: 18px;
  gap: 8px;
}

.comment span {
  font-weight: 500;
  color: var(--active-color);
}

.title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
  color: var(--modal-title);
  margin-bottom: 52px;
  position: relative;
}

.title::before {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--border);
  position: absolute;
  bottom: -16px;
  left: 0;
}

.linkContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 24px;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 18px;
}

.linkContainer li {
  display: flex;
  gap: 4px;
}

.linkContainer a {
  color: var(--button);
  padding: 4px 8px;
  border: 1px solid var(--button);
  border-radius: 4px;
  transition: all 0.3s ease;
}

.linkContainer a:hover {
  background: var(--button);
  color: white;
}

@media screen and (min-width: 1024px) {
  .editContainer {
    width: 620px;
  }

  .title {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.33;
    margin-bottom: 36px;
    text-align: center;
  }

  .linkContainer {
    display: flex;
    flex-direction: row;
  }
}
