.editContainer {
  display: flex;
  flex-direction: column;
  padding: 24px;
  width: 360px;
}

.linkContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 24px;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 14px;
}

.linkContainer li {
  display: flex;
  gap: 4px;
}

.linkContainer a {
  color: var(--button);
  padding: 4px 8px;
  border: 1px solid var(--button);
  border-radius: 4px;
  transition: all 0.3s ease;
}

.linkContainer a:hover {
  background: var(--button);
  color: white;
}

.deleteBtn {
  display: flex;
}

.deleteIcon {
  fill: var(--warning);
  width: 14px;
  height: 14px;
}

.commentsList {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 16px;
}

.commentApplicant {
  padding: 8px 12px;
  border-left: 4px solid #e0a800;
  background-color: #f9f9f9;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  font-size: 14px;
}

.commentFinance {
  padding: 8px 12px;
  border-left: 4px solid #e67e22;
  background-color: #f9f9f9;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  font-size: 14px;
}

.commentBuh {
  padding: 8px 12px;
  border-left: 4px solid #9a4026;
  background-color: #f9f9f9;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  font-size: 14px;
}

@media screen and (min-width: 1024px) {
  .editContainer {
    width: 620px;
  }

  .linkContainer {
    display: flex;
    flex-direction: row;
  }
}
