.mainContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.error {
  color: #d93025;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  text-align: center;
}

.loginContent {
  padding: 32px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.logo {
  width: 124px;
  height: 32px;
  margin-bottom: 188px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: auto 0;
}

.formTitle {
  font-size: 28px;
  line-height: 1.29;
  color: var(--heading-text);
  margin-bottom: 8px;
}

.inputContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  min-width: 350px;
}

.formLabel {
  position: relative;
}

.formInput {
  border: 1px solid var(--border);
  border-radius: 12px;
  padding: 8px 20px;
  width: 100%;
  height: 48px;
  transition: all 0.3s ease;
}

.formInput:hover,
.formInput:focus {
  border: 1px solid var(--border-hover);
}

.formInput::placeholder {
  line-height: 2;
  color: var(--border-hover);
}

.formBtnIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.formBtnIcon:hover .formIcon,
.formBtnIcon:focus .formIcon {
  fill: var(--border-hover);
}

.formIcon {
  width: 24px;
  height: 24px;
  fill: var(--border);
  transition: all 0.3s ease;
}

.errorText {
  position: absolute;
  bottom: 0;
  color: var(--warning);
  font-size: 14px;
}

.formBtnSubmit {
  border-radius: 12px;
  padding: 8px 32px;
  color: var(--white);
  background-color: var(--button);
  font-size: 20px;
  line-height: 1.6;
  transition: all 0.3s ease;
}

.formBtnSubmit:hover,
.formBtnSubmit:focus {
  background-color: var(--button-hover);
}
